<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/teamc.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/players/new" class="nav1" <%- title === 'Add Player' ? 'class="active"' : '' %>>CREATE PLAYER</a>
    <a href="/teams" class="nav1" <%- title === 'All Teams' ? 'class="active"' : '' %>>VIEW TEAMS</a>
  </nav>
  <main>
    <h1>CREATE YOUR TEAM</h1>

<form id="new-form" action="/teams" method="POST">
  <label>Team Name:</label>
  <input type="text" name="teamname">
  <label>Location:</label>
  <input type="text" name="location">
  <label>League</label>
  <select name="league">
    <option value="Premier League">Premier League</option>
    <option value="La Liga">La Liga</option>
    <option value="Serie A">Serie A</option>
    <option value="Ligue 1">Ligue 1</option>
    <option value="Bundesliga">Bundesliga</option>
  </select>
  <input type="submit" value="Add Team">
</form>

<%- include('../partials/footer') %>