* {
    box-sizing: border-box;
}
body {
    background: url(/images/leagues-1422805) no-repeat center center fixed; 
    background-position: bottom;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;  
}
h1{
text-align: center;
}
